
/* Enter your custom styles here */
.logo{
    width:"10px";
     height:"10px"
}
 
.companyname{
    font-size: large;
    color: blue;
}
 
.cmp{
    color: rgb(1, 1, 30);
}
 
 
.tile{
    height: 30% !important;
    width: 30% !important;
    margin-right: 20px !important;
    margin-bottom: 20px !important;
}
 
/* .panel1{
    height: auto !important;
    width:auto !important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important ;
 
} */
 
 
 
.sapUiSmallMarginBottom {
    margin-bottom: 0.5rem;
    font-weight: bold;
}


.policyBox {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-shadow: 1px 1px 5px #ccc;
    background-color: #f9f9f9;
    
}


/* .sapMPageEnableScrolling{
    display:flex;
    width: 100px;

} */

.panels{
    display:flex;
    max-width: 100px;
    
}

 
.tile .sapMGenericTileHeader {
    color: green;
}


 
 
.tile .sapMTextMaxLine {
    color: blue;
    font-size: 30px;
}
.sapMNCLargeFontSize{
    font-size: 20px !important;
    color: red;
    height: 10px !important;
 
}
.sapMFlexBoxJustifyCenter{
   gap: 20px;
 
}
 
 /* Enter your custom styles here */



 .headingml{
    font-size: large;
    text-align: center;
 }